# Bỏ qua thư viện siêu nặng của Node.js
node_modules/

# Bỏ qua các file build cũ
dist/
dist-ssr/

# Bỏ qua file log và cấu hình editor
npm-debug.log
.vscode/

# Bỏ qua file môi trường Docker ảo
.dockerignore
Dockerfile